body {
    height:100%;
    width:100%;
    margin: 0;
    overflow: hidden;
    justify-content: center;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

#main {
   height:100vh;
   display: flex;
   flex-direction: column;
   
}

/* Title */
.title{
    display:flex;
    justify-content: center;
    margin-top: 10%;
    /* border: 1px solid blue; */
}

#titleImage {
    margin:0 auto;
    width:30rem;
    
}
    
