@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    height:100%;
    width:100%;
    margin: 0;
    overflow: hidden;
    justify-content: center;
}

#app {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

#main {
   height:100vh;
   display: flex;
   flex-direction: column;
   
}

/* Title */
.title{
    display:flex;
    justify-content: center;
    margin-top: 2%;
 
}

#titleImage {
    margin:0 auto;
    width:30rem;
    
}
/* Card List */
/* .cardList {
    margin-left: 18%;
    margin-right: 18%;
    padding:2%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
} */
    
/* Individual Cards */
.individualCard {
   
    margin-bottom: none;
    margin-top: 2%;
    width: 20vw;
    
}
/* Container */
.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url("https://res.cloudinary.com/fsa2/image/upload/v1699993885/portfolio%20site%20images/Project%20Images/darkershadowpokedex_e3lvxl.png") ;
    
   
    height:80vh;
   
   background-repeat: no-repeat;
   background-position: center;
}

/* Search Bar */
.searchBar {
    margin-top: 1%;
   justify-self: center;
   font-family: 'Press Start 2P';
   border-radius: 5px;
   color:rgb(50, 47, 47);
   padding-left: 1% ;
   padding-bottom: 2px;
   height:20px;


}




.hp{
    font-family: 'Press Start 2P';
    font-size: 10px ;
    color:rgb(35, 33, 33);
    /* border: 3px solid hotpink; */
    margin-top: 60%;
    margin-bottom: none;
    margin-left: 12%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:65%;
    
}

.pokemonImage{
    
    margin-left: 20%;
    margin-top:-10%;
    height:9rem;
    margin-bottom: none;
    /* border: 1px solid blue; */
}
.pokemonName{
    color:rgb(35, 33, 33);
    font-family: 'Press Start 2P';
    font-size:11px;
    
    /* border: 1px solid green; */
   display: flex;
    justify-content: flex-end;
    padding-left: 2%;
   
}   

.pokemonId{
    font-family: 'Press Start 2P';
    color:rgb(35, 33, 33);
    /* border:3px solid yellow; */
    margin-top: 37%;
    margin-left: 28%;
}